openapi: 3.1.0
info:
  title: Affilite Mix API
  version: "1"
  description: "Multi-tenant affiliate marketing platform API. Routes marked x-internal: true are not part of the public consumer contract."
  contact:
    name: Affilite Mix
  license:
    name: Proprietary
servers:
  - url: "https://compareai.site"
    description: Production (compareai.site)
  - url: "https://staging.compareai.site"
    description: Staging
paths:
  /api/admin/ads:
    get:
      summary: GET /api/admin/ads (site) — auth=admin
      operationId: getApiAdminAds
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdCreateInput
      x-responseSchema: "Ad | Ad[]"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (Ad | Ad[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/ads (site) — auth=admin
      operationId: postApiAdminAds
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdCreateInput
      x-responseSchema: "Ad | Ad[]"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (Ad | Ad[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/ads/{id}:
    get:
      summary: "GET /api/admin/ads/[id] (site) — auth=admin"
      operationId: getApiAdminAdsId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdUpdateInput
      x-responseSchema: Ad
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ad)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    patch:
      summary: "PATCH /api/admin/ads/[id] (site) — auth=admin"
      operationId: patchApiAdminAdsId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdUpdateInput
      x-responseSchema: Ad
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ad)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    delete:
      summary: "DELETE /api/admin/ads/[id] (site) — auth=admin"
      operationId: deleteApiAdminAdsId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdUpdateInput
      x-responseSchema: Ad
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ad)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /api/admin/affiliate-networks:
    get:
      summary: GET /api/admin/affiliate-networks (site) — auth=admin
      operationId: getApiAdminAffiliatenetworks
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AffiliateNetworkInput
      x-responseSchema: AffiliateNetwork
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AffiliateNetwork)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/affiliate-networks (site) — auth=admin
      operationId: postApiAdminAffiliatenetworks
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AffiliateNetworkInput
      x-responseSchema: AffiliateNetwork
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AffiliateNetwork)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    patch:
      summary: PATCH /api/admin/affiliate-networks (site) — auth=admin
      operationId: patchApiAdminAffiliatenetworks
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AffiliateNetworkInput
      x-responseSchema: AffiliateNetwork
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AffiliateNetwork)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/affiliate-networks (site) — auth=admin
      operationId: deleteApiAdminAffiliatenetworks
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AffiliateNetworkInput
      x-responseSchema: AffiliateNetwork
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AffiliateNetwork)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/ai-content:
    post:
      summary: POST /api/admin/ai-content (site) — auth=admin
      operationId: postApiAdminAicontent
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AiContentGenerateInput
      x-responseSchema: AiContentDraft
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AiContentDraft)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/ai/rewrite:
    post:
      summary: POST /api/admin/ai/rewrite (site) — auth=admin
      operationId: postApiAdminAiRewrite
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AiRewriteInput
      x-responseSchema: AiRewriteOutput
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AiRewriteOutput)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/analytics:
    get:
      summary: GET /api/admin/analytics (site) — auth=admin
      operationId: getApiAdminAnalytics
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: AnalyticsSnapshot
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AnalyticsSnapshot)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/analytics/conversion:
    get:
      summary: GET /api/admin/analytics/conversion (site) — auth=admin
      operationId: getApiAdminAnalyticsConversion
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: ConversionFunnel
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ConversionFunnel)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/analytics/domains:
    get:
      summary: GET /api/admin/analytics/domains (site) — auth=admin
      operationId: getApiAdminAnalyticsDomains
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: DomainPerformance
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (DomainPerformance)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/analytics/products:
    get:
      summary: GET /api/admin/analytics/products (site) — auth=admin
      operationId: getApiAdminAnalyticsProducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: TopProducts
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (TopProducts)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/analytics/revenue:
    get:
      summary: GET /api/admin/analytics/revenue (site) — auth=admin
      operationId: getApiAdminAnalyticsRevenue
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: RevenueTrend
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (RevenueTrend)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/analytics/summary:
    get:
      summary: GET /api/admin/analytics/summary (site) — auth=admin
      operationId: getApiAdminAnalyticsSummary
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: AnalyticsSummary
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (AnalyticsSummary)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/api-tokens:
    get:
      summary: GET /api/admin/api-tokens (site) — auth=super_admin
      operationId: getApiAdminApitokens
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdminApiTokenInput
      x-responseSchema: "AdminApiToken | AdminApiToken[]"
      x-notes: Creating API tokens is super_admin-only. The raw token is returned once on creation.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (AdminApiToken | AdminApiToken[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/api-tokens (site) — auth=super_admin
      operationId: postApiAdminApitokens
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AdminApiTokenInput
      x-responseSchema: "AdminApiToken | AdminApiToken[]"
      x-notes: Creating API tokens is super_admin-only. The raw token is returned once on creation.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (AdminApiToken | AdminApiToken[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/api-tokens/{id}:
    delete:
      summary: "DELETE /api/admin/api-tokens/[id] (site) — auth=super_admin"
      operationId: deleteApiAdminApitokensId
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: "{ ok: true }"
      x-notes: Revoking an API token is super_admin-only.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response ({ ok: true })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /api/admin/audit-log/export:
    get:
      summary: GET /api/admin/audit-log/export (site) — auth=super_admin
      operationId: getApiAdminAuditlogExport
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: AuditLogQuery
      x-responseSchema: CSV
      x-notes: super_admin-only. Exports audit_log for the active site as CSV using the privileged client.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (CSV)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/categories:
    get:
      summary: GET /api/admin/categories (site) — auth=admin
      operationId: getApiAdminCategories
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: CategoryInput
      x-responseSchema: Category
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Category)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/categories (site) — auth=admin
      operationId: postApiAdminCategories
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: CategoryInput
      x-responseSchema: Category
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Category)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    patch:
      summary: PATCH /api/admin/categories (site) — auth=admin
      operationId: patchApiAdminCategories
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: CategoryInput
      x-responseSchema: Category
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Category)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/categories (site) — auth=admin
      operationId: deleteApiAdminCategories
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: CategoryInput
      x-responseSchema: Category
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Category)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/categories/usage:
    get:
      summary: GET /api/admin/categories/usage (site) — auth=admin
      operationId: getApiAdminCategoriesUsage
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: "CategoryUsage[]"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (CategoryUsage[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/content:
    get:
      summary: GET /api/admin/content (site) — auth=admin
      operationId: getApiAdminContent
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentInput
      x-responseSchema: Content
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Content)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/content (site) — auth=admin
      operationId: postApiAdminContent
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentInput
      x-responseSchema: Content
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Content)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    patch:
      summary: PATCH /api/admin/content (site) — auth=admin
      operationId: patchApiAdminContent
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentInput
      x-responseSchema: Content
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Content)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/content (site) — auth=admin
      operationId: deleteApiAdminContent
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentInput
      x-responseSchema: Content
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Content)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/content-products:
    get:
      summary: GET /api/admin/content-products (site) — auth=admin
      operationId: getApiAdminContentproducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentProductInput
      x-responseSchema: ContentProduct
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ContentProduct)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/content-products (site) — auth=admin
      operationId: postApiAdminContentproducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentProductInput
      x-responseSchema: ContentProduct
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ContentProduct)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/content-products (site) — auth=admin
      operationId: deleteApiAdminContentproducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentProductInput
      x-responseSchema: ContentProduct
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ContentProduct)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/content/clone:
    post:
      summary: POST /api/admin/content/clone (site) — auth=admin
      operationId: postApiAdminContentClone
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentCloneInput
      x-responseSchema: Content
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Content)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/content/share:
    post:
      summary: POST /api/admin/content/share (site) — auth=admin
      operationId: postApiAdminContentShare
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentShareInput
      x-responseSchema: ContentShare
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ContentShare)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/content/share (site) — auth=admin
      operationId: deleteApiAdminContentShare
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ContentShareInput
      x-responseSchema: ContentShare
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ContentShare)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/integrations:
    get:
      summary: GET /api/admin/integrations (site) — auth=admin
      operationId: getApiAdminIntegrations
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: IntegrationInput
      x-responseSchema: Integration
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Integration)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/integrations (site) — auth=admin
      operationId: postApiAdminIntegrations
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: IntegrationInput
      x-responseSchema: Integration
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Integration)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    patch:
      summary: PATCH /api/admin/integrations (site) — auth=admin
      operationId: patchApiAdminIntegrations
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: IntegrationInput
      x-responseSchema: Integration
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Integration)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/integrations (site) — auth=admin
      operationId: deleteApiAdminIntegrations
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: IntegrationInput
      x-responseSchema: Integration
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Integration)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/media:
    get:
      summary: GET /api/admin/media (site) — auth=admin
      operationId: getApiAdminMedia
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: "MediaQuery | { id: string }"
      x-responseSchema: "Media[] | { ok: true }"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (Media[] | { ok: true })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/media (site) — auth=admin
      operationId: deleteApiAdminMedia
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: "MediaQuery | { id: string }"
      x-responseSchema: "Media[] | { ok: true }"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (Media[] | { ok: true })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/modules:
    get:
      summary: GET /api/admin/modules (site) — auth=admin
      operationId: getApiAdminModules
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ModuleInput
      x-responseSchema: "Module[]"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (Module[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    patch:
      summary: PATCH /api/admin/modules (site) — auth=admin
      operationId: patchApiAdminModules
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ModuleInput
      x-responseSchema: "Module[]"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (Module[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/pages:
    get:
      summary: GET /api/admin/pages (site) — auth=admin
      operationId: getApiAdminPages
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PageInput
      x-responseSchema: Page
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Page)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/pages (site) — auth=admin
      operationId: postApiAdminPages
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PageInput
      x-responseSchema: Page
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Page)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/pages/{id}:
    get:
      summary: "GET /api/admin/pages/[id] (site) — auth=admin"
      operationId: getApiAdminPagesId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PageInput
      x-responseSchema: Page
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Page)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    patch:
      summary: "PATCH /api/admin/pages/[id] (site) — auth=admin"
      operationId: patchApiAdminPagesId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PageInput
      x-responseSchema: Page
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Page)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    delete:
      summary: "DELETE /api/admin/pages/[id] (site) — auth=admin"
      operationId: deleteApiAdminPagesId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PageInput
      x-responseSchema: Page
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Page)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /api/admin/pages/reorder:
    post:
      summary: POST /api/admin/pages/reorder (site) — auth=admin
      operationId: postApiAdminPagesReorder
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PageReorderInput
      x-responseSchema: Ok
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/permissions:
    get:
      summary: GET /api/admin/permissions (site) — auth=super_admin
      operationId: getApiAdminPermissions
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PermissionInput
      x-responseSchema: Permission
      x-notes: super_admin only — grants/revokes admin role + site membership.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Permission)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/permissions (site) — auth=super_admin
      operationId: postApiAdminPermissions
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PermissionInput
      x-responseSchema: Permission
      x-notes: super_admin only — grants/revokes admin role + site membership.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Permission)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/permissions (site) — auth=super_admin
      operationId: deleteApiAdminPermissions
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PermissionInput
      x-responseSchema: Permission
      x-notes: super_admin only — grants/revokes admin role + site membership.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Permission)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/preview-token:
    post:
      summary: POST /api/admin/preview-token (site) — auth=admin
      operationId: postApiAdminPreviewtoken
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PreviewTokenInput
      x-responseSchema: "{ token: string }"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response ({ token: string })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/privacy/user:
    post:
      summary: POST /api/admin/privacy/user (site) — auth=super_admin
      operationId: postApiAdminPrivacyUser
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyUserInput
      x-responseSchema: "PrivacyExport | Ok"
      x-notes: GDPR export/erasure — always audit-logged with ticket id in details.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (PrivacyExport | Ok)"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/privacy/user (site) — auth=super_admin
      operationId: deleteApiAdminPrivacyUser
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyUserInput
      x-responseSchema: "PrivacyExport | Ok"
      x-notes: GDPR export/erasure — always audit-logged with ticket id in details.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (PrivacyExport | Ok)"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/privacy/restrict:
    post:
      summary: POST /api/admin/privacy/restrict (site) — auth=super_admin
      operationId: postApiAdminPrivacyRestrict
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyRestrictInput
      x-responseSchema: Ok
      x-notes: GDPR Art. 18 — place / lift processing restriction. Always audit-logged.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/privacy/restrict (site) — auth=super_admin
      operationId: deleteApiAdminPrivacyRestrict
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyRestrictInput
      x-responseSchema: Ok
      x-notes: GDPR Art. 18 — place / lift processing restriction. Always audit-logged.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/privacy/rectify:
    post:
      summary: POST /api/admin/privacy/rectify (site) — auth=super_admin
      operationId: postApiAdminPrivacyRectify
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyRectifyInput
      x-responseSchema: Ok
      x-notes: "S3-004: GDPR Art. 16 — rectify inaccurate personal data. Always audit-logged."
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/privacy/object:
    post:
      summary: POST /api/admin/privacy/object (site) — auth=super_admin
      operationId: postApiAdminPrivacyObject
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyObjectInput
      x-responseSchema: Ok
      x-notes: GDPR Art. 21 — record / withdraw marketing objection. Always audit-logged.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/privacy/object (site) — auth=super_admin
      operationId: deleteApiAdminPrivacyObject
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: PrivacyObjectInput
      x-responseSchema: Ok
      x-notes: GDPR Art. 21 — record / withdraw marketing objection. Always audit-logged.
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/dlq:
    get:
      summary: GET /api/admin/dlq (site) — auth=super_admin
      operationId: getApiAdminDlq
      tags:
        - Admin
      x-auth: super_admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: void
      x-responseSchema: DlqDashboard
      x-notes: "R-014: DLQ monitoring dashboard — shows recent webhook_dlq + click_failures entries."
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (DlqDashboard)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/products:
    get:
      summary: GET /api/admin/products (site) — auth=admin
      operationId: getApiAdminProducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ProductInput
      x-responseSchema: Product
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Product)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/products (site) — auth=admin
      operationId: postApiAdminProducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ProductInput
      x-responseSchema: Product
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Product)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    patch:
      summary: PATCH /api/admin/products (site) — auth=admin
      operationId: patchApiAdminProducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ProductInput
      x-responseSchema: Product
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Product)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/products (site) — auth=admin
      operationId: deleteApiAdminProducts
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ProductInput
      x-responseSchema: Product
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Product)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/products/export:
    get:
      summary: GET /api/admin/products/export (site) — auth=admin
      operationId: getApiAdminProductsExport
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: CSV stream
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (CSV stream)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/products/import:
    post:
      summary: POST /api/admin/products/import (site) — auth=admin
      operationId: postApiAdminProductsImport
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ProductImportInput (multipart CSV)
      x-responseSchema: "{ imported: number; errors: ImportError[] }"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response ({ imported: number; errors: ImportError[] })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/schedule:
    get:
      summary: GET /api/admin/schedule (site) — auth=admin
      operationId: getApiAdminSchedule
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ScheduleInput
      x-responseSchema: ScheduledJob
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ScheduledJob)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/schedule (site) — auth=admin
      operationId: postApiAdminSchedule
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ScheduleInput
      x-responseSchema: ScheduledJob
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ScheduledJob)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    delete:
      summary: DELETE /api/admin/schedule (site) — auth=admin
      operationId: deleteApiAdminSchedule
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: ScheduleInput
      x-responseSchema: ScheduledJob
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (ScheduledJob)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/sites:
    get:
      summary: GET /api/admin/sites (site) — auth=admin
      operationId: getApiAdminSites
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: SiteInput
      x-responseSchema: Site
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Site)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
    post:
      summary: POST /api/admin/sites (site) — auth=admin
      operationId: postApiAdminSites
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: SiteInput
      x-responseSchema: Site
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Site)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/sites/{id}:
    get:
      summary: "GET /api/admin/sites/[id] (site) — auth=admin"
      operationId: getApiAdminSitesId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: SiteInput
      x-responseSchema: Site
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Site)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    patch:
      summary: "PATCH /api/admin/sites/[id] (site) — auth=admin"
      operationId: patchApiAdminSitesId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: SiteInput
      x-responseSchema: Site
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Site)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
    delete:
      summary: "DELETE /api/admin/sites/[id] (site) — auth=admin"
      operationId: deleteApiAdminSitesId
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: SiteInput
      x-responseSchema: Site
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Site)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /api/admin/sites/active:
    get:
      summary: GET /api/admin/sites/active (site) — auth=admin
      operationId: getApiAdminSitesActive
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: "{ siteId: string; slug: string }"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response ({ siteId: string; slug: string })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/sites/select:
    post:
      summary: POST /api/admin/sites/select (site) — auth=admin
      operationId: postApiAdminSitesSelect
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: "{ siteId: string }"
      x-responseSchema: Ok
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (Ok)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/sites/stats:
    get:
      summary: GET /api/admin/sites/stats (site) — auth=admin
      operationId: getApiAdminSitesStats
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: SiteStats
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: Successful response (SiteStats)
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/sites/templates:
    get:
      summary: GET /api/admin/sites/templates (site) — auth=admin
      operationId: getApiAdminSitesTemplates
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: null
      x-responseSchema: "SiteTemplate[]"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response (SiteTemplate[])"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
            application/json:
              schema:
                type: object
        401:
          description: Unauthorized
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        403:
          description: Forbidden — insufficient role or cross-tenant access
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
        429:
          description: Rate limited
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
  /api/admin/upload:
    post:
      summary: POST /api/admin/upload (site) — auth=admin
      operationId: postApiAdminUpload
      tags:
        - Admin
      x-auth: admin
      x-adminRequired: true
      x-tenantScope: site
      x-rateLimit: true
      x-csrf: true
      x-requestSchema: UploadPresignInput
      x-responseSchema: "{ uploadUrl: string; stagingKey: string; publicUrl: string; requiredHeaders: Record<string,string>; maxBytes: number }"
      x-notes: null
      security:
        - bearerAuth: []
      x-internal: true
      responses:
        200:
          description: "Successful response ({ uploadUrl: string; stagingKey: string; publicUrl: string; requiredHeaders: Record<string,string>; maxBytes: number })"
          headers:
            API-Version:
              $ref: "#/components/headers/API-Version"
          content:
[...]
